
.rdt_TableRow {
    transition: all .2s ease;
    /* transform: scale(0); */
}

.rdt_TableRow:hover{
    cursor: pointer;
}

.error_div 
{
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
}

.click_text
{
    font-weight: bold;
}